<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <div class="container"></div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center text-uppercase pt-4 pb-4">Connexion</h1>
                    <form method="POST" class="comment-form" id="loginForm">
                        <div class="row">
                            <div class="col-12">
                                <input id="username" name="username" type="text" placeholder="Username"/>
                            </div>
                            <div class="col-12">
                                <input id="password" name="password" type="password" placeholder="Password"/>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <input id="submit" type="submit" value="Connexion" class="site-btn btn-sm"> 
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <p>Pas encore inscrit ? <a href="/auth/register">S'inscrire</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const form = document.getElementById('loginForm');
            form.addEventListener('submit', login, false);

            function login(evt) {
                evt.preventDefault();

                let username = document.getElementById('username');
                let pwd = document.getElementById('password');

                if (fetch) {
                    fetch('/auth/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'username': username.value,
                            'password': pwd.value
                        })
                    }).then(response => {
                        switch (response.status) {
                            case 201:
                                console.log('Redirect to homepage');
                                // Enregistrement des cookies
                                document.cookie = "isconnect=true";
                                var d = new Date();
                                d.setTime(d.getTime() + (30*24*60*60*1000));
                                var expires = "expires="+ d.toUTCString();
                                document.cookie = "username" + "=" + username.value + ";" + expires + ";path=/";
                                // Redirection vers la page d'accueil
                                window.location.href = '/';
                                break;
                            case 400:
                                console.log('Mauvais mot de passe');
                                var tag = document.createElement("div");
                                tag.className = "error";
                                tag.classList = "col-12";
                                var text = document.createTextNode("Nom d'utilisateur ou mot de passe invalid");
                                tag.appendChild(text);
                                var element = document.getElementById("submit");
                                element.parentElement.before(tag);
                        }
                    }).catch(error => {
                        console.error('Failed request', error);
                    })
                } else {
                    // Faire quelque chose avec XMLHttpRequest?
                }
            }
        </script>
    </body>
</html>
