<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center text-uppercase pt-4 pb-4">Inscription</h1>
                    <form method="POST" action="/auth/register" class="comment-form" id="registerForm" name="registerForm">
                        <div class="row">
                            <div class="col-12">
                                <input id="username" name="username" type="text" placeholder="Username" required/>
                            </div>
                            <div class="col-12">
                                <input id="password" name="password" type="password" placeholder="Password" required/>
                            </div>
                            <div class="col-12">
                                <input id="passwordconfirm" name="passwordconfirm" type="password" placeholder="Confirm password" required/>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <input id="submit" type="submit" value="Inscription" class="site-btn btn-sm"> 
                            </div>
                        </div>
                    </form>
                    <!-- <div>
                        <button id="gitHubRegisterBtn" class="site-btn btn-sm">Connexion with github</button>
                    </div> -->
                    <div class="text-center">
                        <p>Déjà inscrit ? <a href="/auth/login">Se connecter</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script>

            var userErrtag = document.createElement("div");
            userErrtag.className = "col-12 error";
            var text = document.createTextNode("Nom d'utilisateur déjà existant");
            userErrtag.appendChild(text);

            var pwdErrtag = document.createElement("div");
            pwdErrtag.className = "col-12 error";
            var text = document.createTextNode("Vérification de mot de passe erronée.");
            pwdErrtag.appendChild(text);

            const form = document.getElementById('registerForm');
            form.addEventListener('submit', register);

            // let gitHubRegisterBtn = document.getElementById('gitHubRegisterBtn');
            // gitHubRegisterBtn.addEventListener('click', registerWithGitHub);

            function register(evt) {
                evt.preventDefault();
                userErrtag.className = "col-12 error";
                pwdErrtag.className = "col-12 error";

                let username = document.getElementById('username');
                let newPwd = document.getElementById('password');
                let confirmPwd = document.getElementById('passwordconfirm');

                if (newPwd.value == confirmPwd.value) {
                    pwdErrtag.className = "";
                    if (fetch) {
                        fetch('/auth/register', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                'username': username.value,
                                'password': newPwd.value
                            })
                        }).then(response => {
                            console.log(response.status);
                            switch (response.status) {
                                case 201:
                                    console.log('Redirect to homepage');
                                    // Enregistrement des cookies
                                    var d = new Date();
                                    d.setTime(d.getTime() + (30*24*60*60*1000));
                                    var expires = "expires="+ d.toUTCString();
                                    document.cookie = "username" + "=" + username.value + ";" + expires + ";path=/";
                                    document.cookie = "isconnect=true; path=/";
                                    // Redirection vers la page d'accueil
                                    window.location.href = '/';
                                    break;
                                case 400:
                                    console.log('Username déjà existant');
                                    var element = document.getElementById("password");
                                    element.parentElement.before(userErrtag);
                                    userErrtag.className = "col-12 error show";
                                    break;
                            }
                        }).catch(error => {
                            console.error('Failed request', error);
                        })
                    } else {
                        // Faire quelque chose avec XMLHttpRequest?
                    }
                } else {
                    //confirmPwd.setCustomValidity('Le mot de passe doit correspondre');
                    var element = document.getElementById("submit");
                    element.parentElement.before(pwdErrtag);
                    pwdErrtag.className = "col-12 error show";
                }
            }

            function registerWithGitHub() {
                const baseUri = 'https://github.com/login/oauth/authorize'
                const client_id = '62af1ec2d4779ce3500a';
                const login = document.getElementById('username');
                const redirect_uri = 'http://localhost:3000/auth/register?method=github'
                
                let completedUri = baseUri + '?client_id=' + client_id;
                if (login != null) completedUri +=  '&login=' + login;

                window.location.href = completedUri;
            }
        </script>
    </body>
</html>
