<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body class="not-found">
        <%- include("./partials/header.ejs") %>
        <div class="mainbox">
            <div class="err">4</div>
            <i class="far fa-question-circle fa-spin"></i>
            <div class="err2">4</div>
            <div class="msg">Perdu ? <p>Retrouve une ton chemin ici : <a href="/">Accueil</a></p></div>
        </div>
        <%- include("./partials/sharedJS.ejs") %>
    </body>
</html>
