<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <!-- Page section -->
        <section class="page-section review-page spad">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="review-item">
                            <div class="review-cover set-bg" data-setbg="img/review/5.jpg">
                                <div class="score yellow">9.3</div>
                            </div>
                            <div class="review-text">
                                <h4>Click Counter</h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                                <p>Dans ce jeu d'une excellence absolue en terme de gameplay vous devrez cliquer le plus de fois possible en 60s !</p>
                            </div>
                        </div>
                        <div class="text-center pt-4">
                            <button class="site-btn btn-sm">Jouer</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-item">
                            <div class="review-cover set-bg" data-setbg="img/review/6.jpg">
                                <div class="score yellow">9.3</div>
                            </div>
                            <div class="review-text">
                                <h4>ClickerMost</h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                                <p>Dans ce jeu classique mais sans plus, la victoire sera au plus patient ! Celui qui cliquera le plus de fois sur un bouton ! (SANS LIMITE DE TEMPS !!!)</p>
                            </div>
                        </div>
                        <div class="text-center pt-4">
                            <button class="site-btn btn-sm">Jouer</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page section end -->
        <%- include("../partials/sharedJS.ejs") %>
    </body>
</html>