<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <section class="container">
            <h1>Game ranking</h1>
            <h2>Click counter Ranking</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
              <h2>Clickermost Ranking</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
        </section>
        <%- include("../partials/sharedJS.ejs") %>
    </body>
</html>
